body {
  background-image: url(https://cdn.shopify.com/s/files/1/1175/1170/files/coffee-beans_1400x.jpg?v=1520624610);
  
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 50%;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 10px 70px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 30px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: grey;
}

p.box {
  border: 2px solid purple;
  border-radius: 8px;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #FFC2F6;
  
  
}

h3{

}
